@model Sucre_Core.DTOs.DeviceDto
@{
    Layout = "_Layout";
    ViewData["Title"] = "Device - Remove";
}

<div class="container">
    <form method="post" asp-action="Delete" enctype="multipart/form-data">
        <input asp-for="@Model.Id" hidden>
        <div class="row card p-3 bg-white box-shadow">
            <div class="card-header">
                @* <h2 class="text-primary pl-3">Add Parameter Type</h2>                 *@
                <h2 class="text-primary-custom pl-3">Remove The Metering Point (@Model.Id.ToString())</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="row py-2">
                            <div class="col-4">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Name" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-4">
                                <label asp-for="Connection"></label>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="Connection" class="form-control" disabled></textarea>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-4">
                        Keep
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row py-2">
                    <div class="col">
                        <input type="submit" class="btn btn-danger w-100" value="Remove" />                        
                    </div>
                    <div class="col">
                        <a asp-action="Getdevices" class="btn btn-secondary w-100">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
