@model Sucre_Models.AsPazCanalM
@{
    Layout = "_Layout";
    var title = "";
    if (Model.AsPazM.Id == 0)
    {
        ViewData["Title"] = "AsPaz - Create";
        title = $"Adding AsPaz For Canal: {Model.CanalName} (Id {Model.AsPazM.CanalId})";
    }
    else
    {
        ViewData["Title"] = "AsPaz - Edit";
        title = $"Edit AsPaz For Canal: {Model.CanalName} (Id {Model.AsPazM.CanalId})";
    }
}

<div class="container">
    <form method="post" asp-action="UpsertAsPaz" enctype="multipart/form-data">
        @if (Model.AsPazM.Id !=0)
        {
            <input asp-for="@Model.AsPazM.Id" hidden>
            <input asp-for="AsPazM.Id" hidden>
        }
        <input asp-for="AsPazM.CanalId" hidden>
        <input asp-for="AsPazM.CanalId" hidden>
        <input asp-for="CanalName" hidden>
        <input asp-for="AsPazM.Id" hidden>
        <div class="row card p-3 bg-white box-shadow">
            <div class="card-header">                
                <h2 class="text-primary-custom pl-3">@title</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="row py-2">
                            <div class="col-4">
                                <label asp-for="AsPazM.High"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="AsPazM.High" class="form-control" />
                                <span asp-validation-for="AsPazM.A_High" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-4">
                                <label asp-for="AsPazM.Low"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="AsPazM.Low" class="form-control" />
                                <span asp-validation-for="AsPazM.Low" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-decoration-underline">Alarm High</p>
                        </div>
                        <div class="container">
                            <div class="row py-0">
                                <div class="col-4">
                                    <label asp-for="AsPazM.A_HighEin">Use</label>
                                </div>
                                <div class="col-8">
                                    <input type="checkbox" asp-for="AsPazM.A_HighEin" class="form-check form-check-input" />
                               
                                    <span asp-validation-for="AsPazM.A_HighEin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.A_HighType">Number or Percent</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.A_HighType" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.A_HighType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.A_High"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.A_High" class="form-control" />
                                    <span asp-validation-for="AsPazM.A_High" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <p class="text-decoration-underline">Warning High</p>
                        </div>
                        <div class="container">
                            <div class="row py-0">
                                <div class="col-4">
                                    <label asp-for="AsPazM.W_HighEin">Use</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.W_HighEin" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.W_HighEin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.W_HighType">Number or Percent</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.W_HighType" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.W_HighType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.W_High"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.W_High" class="form-control" />
                                    <span asp-validation-for="AsPazM.W_High" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <p class="text-decoration-underline">Warning Low</p>
                        </div>
                        <div class="container">
                            <div class="row py-0">
                                <div class="col-4">
                                    <label asp-for="AsPazM.W_LowEin">Use</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.W_LowEin" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.W_LowEin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.W_LowType">Number or Percent</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.W_LowType" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.W_LowType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.W_Low"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.W_Low" class="form-control" />
                                    <span asp-validation-for="AsPazM.W_Low" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <p class="text-decoration-underline">Alarm Low</p>
                        </div>
                        <div class="container">
                            <div class="row py-0">
                                <div class="col-4">
                                    <label asp-for="AsPazM.A_LowEin">Use</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.A_LowEin" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.A_LowEin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.A_LowType">Number or Percent</label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.A_LowType" type="checkbox" class="form-check form-check-input" />
                                    <span asp-validation-for="AsPazM.A_LowType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-4">
                                    <label asp-for="AsPazM.A_Low"></label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="AsPazM.A_Low" class="form-control" />
                                    <span asp-validation-for="AsPazM.A_Low" class="text-danger"></span>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="col-4">
                        Keep
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row py-2">
                    @if (Model.AsPazM.Id != 0)
                    {
                        <div class="col">                            
                            <input type="submit" class="btn btn-success w-100" value="Update" />
                        </div>
                        <div class="col">
                            @* <input type="button" formmethod="get" asp-controller="Canal" asp-action="DeleteAsPaz" asp-route-Id="@Model.AsPazM.Id" class="btn btn-success w-100" value="Delete" /> *@
                            <a asp-controller="Canal" asp-action="DeleteAsPaz" asp-route-Id="@Model.AsPazM.Id" class="btn btn-danger w-100">
                                Delete
                            </a>                            
                        </div>
                    }
                    else
                    {
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Create" />
                        </div>
                    }                    
                    <div class="col">
                        <a asp-action="IndexAsPaz" class="btn btn-secondary w-100">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
